body {
    margin:auto;
    width:auto;
    height:auto;
}

div.flex {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.background-primary {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#1f1f1f;
    /*object-fit: cover;*/
    padding-top: 1em;
}
.page-break {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2em;
    border-top: 0.15em solid #7f7f7f;
}
.border-highlight {
    border: solid 2px #0094ff;
}
.break-xs {
    height:1em;
}
.break-s {
    height:3em;
}
.break-m {
    height:5em;
}
.break-l {
    height:7em;
}
.test-info-accent {
    color:#5ebfdb;
}

/*button.click {*/
/*    background-color: #ffffff00;*/
/*    border: 4px solid rgb(15, 31, 77);*/
/*    color: #ffffff00;*/
/*    text-align: center;*/
/*    font-size: 46px;*/
/*    border-radius: 10%;*/

/*    width: 25%;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    transform: translate(-50%,30%);*/
/*}*/
/*button.click:hover {*/
/*    background-color: #38383848;*/
/*}*/
/*button.click:active {*/
/*    background-color: #747474ad;*/
/*}*/