div.backdrop {
    height: 1200px;
    background-color: grey;
}

h1 {
    font-size: 75px;
    color: aliceblue;
}

#pdf {
    height: 80%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

div.content {
    max-width: 100%;
    max-height: 100%;
    
}